<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>小米MIX</title>
    <!-- Bootstrap Styles-->
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap1.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{$Think.const.ADMIN_CSS_URL}font-awesome1.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{$Think.const.ADMIN_CSS_URL}morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{$Think.const.ADMIN_CSS_URL}custom-styles1.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}cssCharts.css">
</head>
