.none, footer > nav:nth-of-type(1) > div:nth-of-type(1) li:last-child, footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul li:last-of-type a, footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul:nth-of-type(2) li a {
  border-right: none; }

footer {
  width: 100%;
  background: #FAFAFA; }

footer > nav:nth-of-type(1) {
  height: 270px;
  background: #fff; }
  footer > nav:nth-of-type(1) > div:nth-of-type(1) {
    border-bottom: 1px solid #e0e0e0;
    height: 55px;
    width: 1226px;
    margin: 0 auto;
    padding-top: 25px; }
    footer > nav:nth-of-type(1) > div:nth-of-type(1) > ul li {
      float: left;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-right: 1px solid #e0e0e0;
      font-size: 16px;
      width: 19.8%; }
      footer > nav:nth-of-type(1) > div:nth-of-type(1) > ul li > a {
        color: #616161; }
        footer > nav:nth-of-type(1) > div:nth-of-type(1) > ul li > a > span {
          margin-right: 6px;
          font-size: 24px;
          line-height: 24px;
          vertical-align: -4px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(1) > ul li > a:hover {
        color: #FF6700; }
  footer > nav:nth-of-type(1) > div:nth-of-type(2) {
    width: 1226px;
    margin: 0 auto;
    padding-top: 25px;
    height: 165px; }
    footer > nav:nth-of-type(1) > div:nth-of-type(2) > dl {
      float: left;
      height: 112px;
      margin: 0;
      width: 160px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > dl > dt {
        color: #424242;
        font-size: 14px;
        line-height: 1.25;
        margin: -1px 0 26px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > dl > dd {
        font-size: 12px;
        margin: 10px 0; }
        footer > nav:nth-of-type(1) > div:nth-of-type(2) > dl > dd > a {
          color: #757575; }
        footer > nav:nth-of-type(1) > div:nth-of-type(2) > dl > dd > a:hover {
          color: #FF6700; }
    footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
      border-left: 1px solid #e0e0e0;
      color: #616161;
      float: right;
      height: 112px;
      text-align: center;
      width: 215px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) p {
        font-size: 12px;
        margin: 0 0 16px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1) {
        color: #FF6700;
        font-size: 22px;
        line-height: 1;
        margin: 0 0 5px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) a {
        color: #FF6700;
        display: inline-block;
        width: 118px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        border: 1px solid #ff6700;
        cursor: pointer; }
        footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) a > span {
          margin-right: 4px; }
      footer > nav:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) a:hover {
        color: #fff;
        background: #f25807;
        border-color: #f25807;
        transition: all 0.6s; }
footer > nav:nth-child(2) {
  padding: 30px 0; }
  footer > nav:nth-child(2) > div:nth-of-type(1) {
    width: 1226px;
    margin: 0 auto;
    padding-top: 0px; }
    footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(1) {
      background: url(../img/xm-logo.png) no-repeat scroll 50% 50%;
      float: left;
      height: 57px;
      width: 56px;
      margin-left: 15px;
      text-indent: -9999em; }
    footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) {
      float: left;
      color: #b0b0b0;
      margin-left: 15px; }
      footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul li {
        float: left; }
        footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul li a {
          color: #757575;
          border-right: 1px solid #b0b0b0;
          font-size: 12px;
          margin-right: 3px;
          padding-right: 3px; }
        footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul li a:hover {
          color: #FF8200; }
      footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > ul:nth-of-type(2) li a {
        color: #b0b0b0; }
      footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(2) > p {
        float: left;
        font-size: 12px; }
    footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(3) {
      float: left;
      height: 28px;
      margin-left: 50px; }
      footer > nav:nth-child(2) > div:nth-of-type(1) > div:nth-of-type(3) > a {
        display: inline-block;
        height: 28px;
        width: 85px;
        margin: 0 2px; }
  footer > nav:nth-child(2) > div:nth-of-type(2) {
    clear: both;
    height: 19px;
    width: 267px;
    margin: 0 auto;
    margin-top: 100px;
    background: url(../img/slogan2016.png) no-repeat scroll center 0;
    text-indent: -9999em; }

/*# sourceMappingURL=footer.css.map */
