<include file="Public:header"/>
<style>
    .panel-default th.group-title {
        text-align: left;
        font-weight:normal;
        font-size:18px;
        border:1px solid #E8E8E8;
    }
    .panel-default th {
        border:1px solid #E8E8E8;
        height:24px;
        background:#ccc;
        font-size:12px;
        font-weight:700;
        text-align:center;
        color:#444;
        padding-left:5px;
    }

    .panel-default td {
        line-height: 22px;
        padding:5px;
    }

    .panel-default td {
        background:#fff;
        border:1px solid #E8E8E8;
    }

</style>

<body>
<div id="wrapper">
    <include file="Public:top"/>

    <!--/. NAV TOP  -->
    <include file="Public:menu"/>


    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <small>Welcome xiaomi</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="__ROOT__/index.php/Admin/Index">主页</a></li>
                <li><a href="#">评论管理</a></li>
                <li class="active">评论列表</li>
            </ol>

        </div>

        <div class="col-md-8 col-sm-12 col-xs-12" style="width:900px;margin-left:16px;">


            <div class="panel panel-default">

                <form action="{:U('Admin/Comment/del_comment')}" method="GET">
                    <table width="900px" cellspacing="1" cellpadding="3" id="table">
                        <tr>
                            <th>
                                <a href="###" title="点击对列表排序">编号<img src="{$Think.const.ADMIN_IMG_URL}sort_desc.gif"></a>
                            </th>
                            <th>评论用户</th>
                            <th>评论内容</th>
                            <th>评论时间</th>
                            <th>评论商品</th>
                        </tr>


                        <volist name="data" id="vo" key="k">
                            <tr>
                                <td id="id">{$vo.mid}</td>
                                <td align="center">{$vo.username}</td>
                                <td>{$vo.comment}</td>
                                <td align="center">{$vo.time|date="Y-m-d H:i:s",###}</td>
                                <td align="center">{$vo.goods_name}</td>

                            </tr>
                        </volist>
                    </table>
                </form>
            </div>

        </div>


    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{$Think.const.ADMIN_JS_URL}jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="{$Think.const.ADMIN_JS_URL}jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="{$Think.const.ADMIN_JS_URL}raphael-2.1.0.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}morris.js"></script>


<script src="{$Think.const.ADMIN_JS_URL}easypiechart.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}easypiechart-data.js"></script>

<script src="{$Think.const.ADMIN_JS_URL}jquery.chart.js"></script>

<!-- Custom Js -->
<script src="{$Think.const.ADMIN_JS_URL}custom-scripts.js"></script>

<script>

</script>

</body>

</html>


